img {
    margin-bottom: 50px;
    width: 500px;
    height: 500px;
    transition: all 0.7s;
    transform-origin: top left;

}

div {
    border: 5px solid red;
    width: 500px;
    height: 500px;

}

.transform-rotate img:hover {
    transform: rotate(90deg); 

}

.transform-translate img:hover {
    transform: translate(300px, 200px)
}

.transform-scale img:hover {
    transform: scale(1.5);
    transform-origin: center center;
}

.transform-scale {
    overflow: hidden;
}

@keyframes animation-example {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
}

.animation img {
    animation-name: animation-example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}