.box {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    left: 50%;
    position: relative;
    transform: translate(-50%);
}

.box-width {
    background-color: red;
    transition: width 2s linear;
}

.box-width:hover {
    width: 300px;
}

.box-height {
    background-color: blue;
    transition: height 2s linear;
}

.box-height:hover {
    height: 300px;
}

.box-width-height {
    background-color: green;
    transition: width 2s linear, height 2s linear;
}

.box-width-height:hover {
    height: 300px;
    width: 300px;
}